# Custom base url for OpenAI API. default: https://api.openai.com
OPENAI_API_BASE_URL=https://api.openai.com
# Custom OpenAI API Key
OPENAI_API_KEY=
# Provide proxy for OpenAI API. e.g. http://127.0.0.1:7890
HTTPS_PROXY=
# Secret string for the project. Use for generating signatures for API calls
SECRET_KEY=
# Custom head scripts.
HEAD_SCRIPTS=

MAX_REQUEST_PERHOUR=

# Vercel app.
VERCEL_TOKEN=
VERCEL_PROJECT_ID=
VERCEL_TEAM_ID=

# 私有代理Api
OPENAI_API_PROXY_URL=

# URL白名单，用“,”分隔，默认不填允许所有host访问
WHITE_LIST=